@model IEnumerable<WorkoutTracker.Core.Workout>

@{
	ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Your workouts</h1>
<div class="row">
	<div class="col-sm-1">Id</div>
	<div class="col-sm-3">Date</div>
	<div class="col-sm-3">Location</div>
	<div class="col-sm-3">LastModified</div>
</div>
<hr />
@foreach(var workout in Model)
{
	<div class="row" data-WorkoutId="@workout.Id">
		<div class="col-sm-1">@workout.Id</div>
		<div class="col-sm-3">@workout.Date</div>
		<div class="col-sm-3">@workout.Location</div>
		<div class="col-sm-3">@workout.LastModified</div>
		<a asp-action="Details" asp-route-id="@workout.Id">Details</a>
	</div>
}